<div class="row">
    <div class="twelve columns">
        <ul class="breadcrumbs">
            <li><a href="#/menu">Menu</a></li>
            <li class="current"><a href="#/about">About</a></li>
        </ul>
        <h3>Get in Touch!</h3>
        <p>clever statement</p>
        <dl class="tabs">
            <dt>About</dt>
            <dd class="active"><a href="#/about">Us</a></dd>
            <dd><a href="#/about/contact">Contact</a></dd>
            <dd><a href="#/about/feedback">Feedback</a></dd>
            <dd><a href="#/about/geekstuff">Geek Stuff</a></dd>
        </dl>   
    </div>
</div>