<div class="row">
    <div class="twelve columns">
        <h3>Get in Touch!</h3>
        <p>some witty slogan</p>
        <dl class="tabs">
            <dt>About</dt>
            <dd><a href="#/about">Us</a></dd>
            <dd><a href="#/about/contact">Contact</a></dd>
            <dd><a href="#/about/feedback">Feedback</a></dd>
            <dd class="active"><a href="#/about/geekstuff">Geek Stuff</a></dd>
        </dl>   
    </div>
</div>
<div class="row">
    <div class="one mobile-one columns">
        <img src="http://placehold.it/60x60&amp;text=[logo]">
    </div>
    <div class="eleven mobile-five columns">
        <p>For purpose of X we use <strong>technology name</strong> because</p>
        <a href="#/">link</a>
    </div>
</div>