<div class="row">
    <ul class="breadcrumbs">
        <li><a href="#/menu"><i class="general foundicon-compass"></i></a></li>
        <li><a href="#/about">About</a></li>
        <li class="current"><a href="#/about/contact">Contact</a></li>
    </ul>
    <div class="twelve columns">
        <h3>Get in Touch!</h3>
        <p>some witty slogan</p>
        <dl class="tabs">
            <dt>About</dt>
            <dd><a href="#/about">Us</a></dd>
            <dd class="active"><a href="#/about/contact">Contact</a></dd>
            <dd><a href="#/about/feedback">Feedback</a></dd>
            <dd><a href="#/about/geekstuff">Geek Stuff</a></dd>
        </dl>   
    </div>
</div>