<div class="row" style="margin-top:10px;">
    <div class="eight columns">
        <a href="#/"><h1 style="margin-top:0;">Lets Meet Up</h1></a>
    </div>
    <div class="four columns">
        <div class="row collapse">
            <div class="seven mobile-four columns">
                <input type="text" />
            </div>
            <div class="three mobile-one columns">
                <span class="postfix">search</span>
            </div>
            <div class="two mobile-one columns">
                <img class="right" src="http://placehold.it/32x32&amp;text=[usr]">
            </div>
        </div>
    </div>
</div>
