<div class="row">
    <div class="twelve columns">
        <ul class="breadcrumbs">
            <li><a href="#/menu">Menu</a></li>
            <li><a href="#/">Home</a></li>
            <li><a href="#/organisations">Organisations</a></li>
            <li><a href="#/organisation/{{id}}">Organisation</a></li>
            <li class="current"><a href="#/organisation/{{id}}/users">Users</a></li>
        </ul>
        <h3>{{id}}</h3>
        <dl class="tabs">
            <dt>Organisation</dt>
            <dd><a href="#/organisation/{{id}}">Details</a></dd>
            <dd class="active"><a href="#/organisation/{{id}}/users">Users</a></dd>
            <dd><a href="#/organisation/{{id}}/rooms">Rooms</a></dd>
        </dl>   
    </div>
</div>