<div class="row">
    <div class="twelve columns">
        <ul class="breadcrumbs">
            <li><a href="#/menu">Menu</a></li>
            <li class="current"><a href="#/vents">Venting</a></li>
        </ul>
        <h3>Venting</h3>
        <!-- add a vent -->
    </div>
</div>
<div class="row">
    <div class="six columns">
        <label>Add Comment</label>
    </div>
    <div class="six columns">
        <input type="text" placeholder="Type here..." ng-model="comment" />
    </div>    
</div>
<div class="row">
    <div class="six columns offset-by-six">
        <button class="button" ng-click="update()">SAVE</button>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div class="row" ng-repeat="vent in vents">
            <div class="twelve columns">
                <div class="panel">
                    <h5>{{vent.comment}}</h5>
                    <h6>{{vent.created}}</h6>
                </div>
            </div>
      </div>
</div>
